*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
    overscroll-behavior: none;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Poppins;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  header{
    position: relative;
    padding: 1em 0;
    background: #d5d2cd;
  }

  header img{
    width: 33%;
    margin: 0 auto;
    min-width: 300px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    margin: 1em auto 0;
    width: 33%;
    min-width: 400px;
  }
  nav a{
    color: black;
    text-decoration: none;
    
  }

  nav a:hover{
    transform: scale(1.25);
  }

  .home a.home,
  .about a.about,
  .patients a.patients,
  .services a.services,
  .reviews a.reviews{
    border-bottom: solid black;

  }

  #bookBtn{
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    height: 35%;
    width: 12em;
    text-align: center;
  }

  #book{
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);
  }


#hero{
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('images/AgesAndRanges.jpeg');
    background-repeat: repeat;
    background-size: 2000px;
    background-position:center -1125px;
    padding: 4%;
  }

#heroContent{

    width: 39%;
    color: white;
    margin-left: auto
    ;
}

#heroContent h1{
  font-size: 2.9rem;
  font-weight: 500;
  margin-bottom: .25em;
}

#heroContent p{
  font-size: 1rem;
  text-align: left;
  line-height: 1.6;
  font-weight: 400;
}

main{
  background-color: #929092;
  text-align: center;

}

/* this line below only affects h1 direct descendent of main aka "What to expect when you receive care"*/

main > h1{
font-weight: 500;
font-size: 2.75em;
padding: 1em;
}


/* below flexbox(default is horizontal, can be changed with direction, read more on flexbox) "main axis" "cross axis" checkout google flexboxzombies*/
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  /* gap: 1rem; */
  padding: 2em;
}

.card{
  flex-basis: 31.5%;
  background-color: #eddfd4;
  padding: 1em;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.6;
}

.card h1{
  font-size: 1.75em;
  font-weight: 500;
}

.goal{
  font-weight: 700;
  padding: 5em 3.5em;
  text-align: left;
  line-height: 1.6;
  font-size: 1rem;
}

/* #wte{
  font-size: 47.1px;
  font-weight: 500;
  line-height: 69px;
  padding-top: 30px;
  padding-bottom: 30px;
} */

#hours{
  background-color: #d5d2cd;
  text-align: center;
  padding: 3em;
}

#hours h1{
  margin-bottom: .5em;
  font-weight: 500;
  font-size: 3em;
}
#hours p{
  font-size: 1.5em;
  font-weight: 300;
  line-height: 2.25;
}
footer{
 background-color: #352d28; 
 color: white;
 line-height: 2.5;
 padding: 3em;

}

footer a, footer p{
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 1em;
}
.fa{
  margin-right: .5em;
  border-radius: 5px;
  margin-bottom: 1.2em;
}

.fa-facebook, .fa-instagram{
  color: #352d28;
  background: white;
  padding: .2em .5em;
  font-size: 1.25em;
}


/* About page below */


.aboutInfo{
  display: flex; 
  gap: 2em;
  padding: 5em 12em;
}

.aboutInfo img{
  /* flex-basis: 50%; */
  max-width: 50%;
}

#meetPayton{
  background-color: #d5d2cd;
}

#leisure{
  background: #929092;
}






/* 
.meetDrPayton{
  background-color: #d5d2cd;
  height: 100vh;

}
.meetDrPayton .container {

  margin: 0 auto;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  padding: 5em 10em 10em; 
    
  
}

.meetDrPayton .text-container {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: .9em;
  line-height: 28px;
}

.meetDrPayton img {
  width: 500px;
  margin-right: 30px;
} */



/* Services page below */

#servicesContent{

  text-align: center;
  background-color: #d5d2cd;
  padding: 3em 12%;
  line-height: 2;
}

#servicesContent h1{
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 1em;
line-height: 1.6;

}

#servicesContent li{
  text-align: left;
}

.desc{
  font-weight: 300;
  font-size: .9em;
  text-align: justify;
}

.headline{
  font-weight: 500;
}


/* Patients we see page below */

#patients{
  background-color: #929092;
  text-align: center;
  padding: 2em;
}

#patients h1{
  font-weight: 500;
  font-size: 3em;
}

#patients h2{
  font-weight: 500;
  font-size: 1.25em;
  padding: 1em 0;
}

#patients p{
  font-weight: 300;
  font-size: .9em;
  line-height: 2;
}

#patientCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .8em;
}

.patientCard{
padding: 1em;
flex-basis: 32%;
}

.circ{
  border-radius: 200px;
  height: 20em;
  width: 20em;
  margin: auto;
}

/* reviews page below */


#carousel {
  position: relative;
  overflow: hidden;
}

.carousel-button{
  z-index: 1;
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  font-size: 3.5rem;
  cursor: pointer;
  transition: color 0.5s;
  bottom: 5%;
}

.carousel-button:hover{
  color: rgba(0,0,0,0.5);
}

.carousel-button_next{
  right: 35%;
}
.carousel-button_previous{
  left: 35%;
}

.slides{
  display: flex;
  align-items: center;
  gap: 2em;
}

.slides.moveNext{
  transition: transform .3s;
  transform: translateX(calc(-24%-2em));
}

.slides.movePrev{
  transition: transform .3s;
  transform: translateX(calc(24%+2em));
}

.slide{
  flex: 0 0 24%;
  background-color: #eddfd4;
  padding: .75em;
}

.slide h2{
  font-size: 1.2em;
  font-weight: 400;
}

#overlay{
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  height: 100%;
  width: 95%;
  background: #c1c1c1;
  transition: transform 750ms ease-in-out;
  z-index: 2;
}

@media (max-width: 750px){

  html,body{
    overscroll-behavior: auto;
  }
  nav, #bookBtn{
    display:none
  }

    /* Next section is styling the overlay */
  .open #overlay{
    transform: translateX(0%);
    opacity: 97%;
  }
  .open .burger{
    transform: rotate(45deg);
  }
  .open .burger::after{
    visibility: hidden;
  }
  .open .burger::before{
    transform: rotate(90deg) translate(-10px);
  }
  .nav_toggle{
    position: absolute;
    right: -2rem;
    border: 0;
    height: 45px;
    background-color: #1c1c1c;
  }

  .burger{
    color: #fff;
    position: relative;
    top: 33%;
    height: 5px;
    width: 25px;
    background: white;
    display: block;
  }

  .burger::before,.burger::after{
    display: inline-block;
    position: absolute;
    left: 0;
    content: "";
    width: 25px;
    height: 5px;
    background-color: white;
  }

  .burger::before{
    top: 10px;
  }
  .burger::after{
    bottom: 10px;
  }
  #bookBtn2{
    position: absolute;
    background-color: black;
    margin: 0 40%;
    bottom: 2rem;
    height: 3em;
    width: 12em;
    text-align: center;
  }

  #book2{
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #overlayTabs{
    position: relative;
    top: 10%;
  }

  a.oLtab{
    color: black;
    font-size: 2em;
    margin-bottom: 2em;
    display: block;
    /* margin-left: auto;
    margin-right: auto;
    width: 75%; */
  }
  a.oLtab:hover{
    transform: scale(1.25);
    width: 60%;
  }

/* Next rule is styling the index page */

  #heroContent{
    margin: 0 auto;
    width: 95%;
    font-weight: 700;
    font-size: .8rem;
  }

  .card, .patientCard{
    flex-basis: 100%;
  }

  /* Next is styling about page */

  .aboutInfo{
    padding: 2em;
    flex-wrap: wrap;
  }

  .aboutInfo img{
    max-width: 100%;
  }

  .slide{
    flex-basis: 100%;
    border: #929092 solid 5px;
  }

  /* Next section is styling the reviews page  */

  .reviews h1{
    font-size: 2rem;
  }

  .carousel-button{
    font-size: 2rem;
    margin: 1rem;
  }
  .slides.moveNext{
    transition: transform .5s;
    transform: translateX(-100%);
  }

  .slides.movePrev{
    transition: transform .5s;
    transform: translateX(100%);
  }





}
